@charset "utf-8";
/* simple comment */
body {
	color: blue;
}
p a /* Comment in selector */ {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
@media (min-width: 300px) {
	p {
		margin: 10px 30px 15px 16px;
		span {
			display: inline-block;
			/* other comment */
			background: linear-gradient(to bottom, red, rgba(10, 20, 30, 0.5));
		}
	}
	a {
		color: red;
	}
	span {
		/*other comment*/
		display: none;
	}
}
@import url("extra.css");
@import url("extra.css");
@import url(extra.css);
p:not(a:matches(.one, .two, .three.four.five > .six) span), div {
	background: red;
}
@media only screen and (min-width: 35em) 
 {
	#content {
		width: 50%;
	}
	.item + .item, .item ~ .item {
		margin-left: -15px;
	}
	#buttons > *, input[type=submit] {
		border-radius: .3rem;
	}
}
blockquote::before, blockquote::after {
	content: "\201d";
}
@media (min-width: 35em AND (max-width: 2000px) OR (max-height: 1000px)) {
	p {
		width: calc(12em + (5px -3em));
	}
}