ul.gri-1, div.grid-2 ul, div.grid-2 ol, .ola, .ola ul.gri-1 p, .ola div.grid-2 ul p, .ola div.grid-2 ol p {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
ul.gri-1 {
	
}
div.grid-2 ul, div.grid-2 ol {
	
}